# This Jupyter notebook is meant to play around with the IRS data.

In [28]:
# Import packages

import pandas as pd

In [29]:
# Older IRS data was stored on a .xls file. We use xlrd so that pandas can read.
!pip install xlrd

Requirement already satisfied: xlrd in /opt/anaconda3/envs/erdos_ds_environment/lib/python3.12/site-packages (2.0.2)

Comment: pandas is struggling to read the xls file. One should open up the xls file and see that is making it so ugly. There are probably a bunch of excel cells which is just describing the data. We also need to get the NYC Zip Codes we care about. This has already been saved to an NYC_zipcodes.csv file by extracing zip codes from rat inspection and rat sightings data.

In [32]:
irs22 = pd.read_excel("scr/data/irs_zip/2022_irs_NY_zip.xlsx")
irs22 = irs22.iloc[2:]
irs22.columns = irs22.iloc[0]
irs22 = irs22.iloc[4:]

In [33]:
display(irs22.head(4))

2,ZIP\ncode [1],Size of adjusted gross income,Number of returns [2],Number of single returns,Number of joint returns,Number of head of household returns,Number of electronically filed returns,Number of computer prepared paper returns,Number with paid preparer's signature,Number of returns with direct deposit,...,Net investment income tax,NaN,Tax due at time of filing [15],NaN,Total overpayments,NaN,Overpayments refunded [16],NaN,Credited to next year's estimated tax,NaN
6,0,"$1 under $25,000",2713210,1953970,310520,395530,2520770,100750,1711720,1671110,...,0,0,459020,426926,1950950,4075921,1935770,4019427,16790,43911
7,0,"$25,000 under $50,000",2077580,1225330,355280,445020,1994680,39750,1267740,1505790,...,0,0,397630,595238,1663710,4399795,1648890,4323330,20480,67825
8,0,"$50,000 under $75,000",1440210,816450,311470,263650,1383980,25910,886730,966210,...,0,0,371730,718053,1065920,2715145,1048950,2623135,24180,89533
9,0,"$75,000 under $100,000",943560,450310,320390,135570,904480,13540,610290,565480,...,0,0,307020,784182,630850,1982535,612990,1873507,20290,98039

In [ ]:
# Extract columns corresponding to Zip code, AGI, etc. Note that some of the columns are incorrectly named!! Compare
# The data frame below with what the excel file actually shows!
irs22 = irs22.iloc[:,[0,1,2,18,19,20,21,22]]

In [37]:
irs22.head(30)

2,ZIP\ncode [1],Size of adjusted gross income,Number of returns [2],Adjusted gross income (AGI) [7],Total income,NaN,Salaries and wages in AGI,NaN
6,0,"$1 under $25,000",2713210,32883652,2713170,33553109,1760330,22572599
7,0,"$25,000 under $50,000",2077580,76638304,2077580,77406283,1780830,62769538
8,0,"$50,000 under $75,000",1440210,88834962,1440210,89527244,1252010,71716886
9,0,"$75,000 under $100,000",943560,81764473,943560,82319662,804400,62486335
10,0,"$100,000 under $200,000",1589460,220005056,1589460,221767645,1372110,164101811
11,0,"$200,000 or more",833920,531820621,833920,537600622,730880,275901327
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10001,NaN,16960,4479865,16960,4526355,14160,2976993
14,10001,"$1 under $25,000",3170,35386,3170,36407,1840,26668
15,10001,"$25,000 under $50,000",2110,78726,2110,80304,1740,62122
16,10001,"$50,000 under $75,000",1920,119460,1920,121395,1680,98641
17,10001,"$75,000 under $100,000",1580,137176,1580,138273,1400,113945
18,10001,"$100,000 under $200,000",3680,529510,3680,534415,3330,446179
19,10001,"$200,000 or more",4500,3579607,4500,3615561,4170,2229438
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10002,NaN,39620,3197596,39620,3231089,32760,2532420
22,10002,"$1 under $25,000",15010,177309,15010,180248,10240,137752
23,10002,"$25,000 under $50,000",7870,283521,7870,287743,7090,241808
24,10002,"$50,000 under $75,000",5190,321146,5190,324537,4790,281050
25,10002,"$75,000 under $100,000",3350,289923,3350,292585,3060,248533
26,10002,"$100,000 under $200,000",5070,700134,5070,706805,4670,591485
27,10002,"$200,000 or more",3130,1425563,3130,1439171,2910,1031792
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,10003,NaN,27610,8421391,27610,8513130,22440,4837009
30,10003,"$1 under $25,000",3820,42253,3820,43966,2130,25668
31,10003,"$25,000 under $50,000",2740,102812,2740,106128,2100,72788
32,10003,"$50,000 under $75,000",3270,205466,3270,208857,2770,161105
33,10003,"$75,000 under $100,000",2980,258773,2980,262265,2540,204238
34,10003,"$100,000 under $200,000",6900,982899,6900,995385,5940,767519
35,10003,"$200,000 or more",7900,6829188,7900,6896529,6960,3605691

In [36]:
# To - Do for whoever's job it is: Please clean this data!