# This Jupyter notebook is meant to play around with the IRS data.

In [1]:
# Import packages

import pandas as pd

In [2]:
# Older IRS data was stored on a .xls file. We use xlrd so that pandas can read.
!pip install xlrd

Requirement already satisfied: xlrd in /opt/anaconda3/envs/erdos_ds_environment/lib/python3.12/site-packages (2.0.2)

In [ ]:
# Let's start by cleaning the 2012 file.
irs12 = pd.read_excel("scr/data/irs_zip/2012_irs_NY_zip.xls")

In [ ]:
# Comment: pandas is struggling to read the xls file. One should open up the xls file and see that 
# is making it so ugly. There are probably a bunch of excel cells which is just describing the data.
# We also need to get the NYC Zip Codes we care about. This has already been saved to an NYC_zipcodes.csv file
# by extracing zip codes from rat inspection and rat sightings data.
irs12.sample(5)

,NEW YORK,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73
8208,13411,"$50,000 under $75,000",190,70,120,0,110,430,120,11541,...,0,0,180,958,180,1018,60,100,140,329
3062,11741,"$1 under $25,000",4080,3200,360,460,2530,4150,920,47370,...,430,487,1680,1068,1960,1466,340,229,3420,5062
12271,14885,"$25,000 under $50,000",70,30,40,0,50,180,70,2765,...,0,0,50,131,60,148,30,30,60,189
10059,14092,"$200,000 or more",210,30,180,0,180,580,190,153529,...,0,0,210,31925,210,32717,100,2623,50,607
11277,14613,NaN,5490,2660,940,1810,2570,11140,4920,147256,...,1800,2207,2530,9156,2960,9991,520,1111,4880,14141

In [ ]:
# To - Do for whoever's job it is: Please clean this data!