In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os

In [8]:
pd.set_option("display.max_columns", None)
sns.set_style("whitegrid")

In [9]:
#LOAD & COMBINE ALL EXCEL FILES (2011â€“2022)
folder_path = r"../../IRS folder"

files = glob.glob(os.path.join(folder_path, "*.xlsx"))
df_list = []

for file in files:
    df = pd.read_excel(file)
    df_list.append(df)

In [10]:
 # Extract zip code, size of adjusted gross income, adjusted gross income from filename 
filename = os.path.basename("../../IRS folder")
parts = filename.split("_")
if len(parts) >= 3:
        zip_code = parts[0]
        size_of_ag_income = parts[1]
        ag_income = parts[2].split(".")[0]  # Remove file extension
        df["Zip Code"] = zip_code
        df["Size of AGI"] = size_of_ag_income
        df["AGI"] = ag_income

In [11]:
# Combine all files
df = pd.concat(df_list, ignore_index=True)

print("Combined Dataset Shape:", df.shape)

Combined Dataset Shape: (73922, 165)

In [12]:
#DATA CLEANING
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("-", "_")
)

# Remove duplicates
df = df.drop_duplicates()

# Missing values summary
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
new_york           11
unnamed:_1       9307
unnamed:_2         89
unnamed:_3         89
unnamed:_4         89
                ...
unnamed:_160    31773
unnamed:_161    31770
unnamed:_162    31773
unnamed:_163    52921
unnamed:_164    52922
Length: 165, dtype: int64

In [13]:
 #Adjust these mappings if needed
column_map = {
    "returns": [col for col in df.columns if "return" in col],
    "exemptions": [col for col in df.columns if "exemption" in col],
    "agi": [col for col in df.columns if "adjusted_gross_income" in col or "agi" in col],
    "wages": [col for col in df.columns if "wage" in col],
    "dividends": [col for col in df.columns if "dividend" in col],
    "interest": [col for col in df.columns if "interest" in col]
    }

print("\nDetected columns:")
for k, v in column_map.items():
    print(k, ":", v)

Detected columns:
returns : []
exemptions : []
agi : []
wages : []
dividends : []
interest : []

In [14]:
print(df.columns.tolist())

['new_york', 'unnamed:_1', 'unnamed:_2', 'unnamed:_3', 'unnamed:_4', 'unnamed:_5', 'unnamed:_6', 'unnamed:_7', 'unnamed:_8', 'unnamed:_9', 'unnamed:_10', 'unnamed:_11', 'unnamed:_12', 'unnamed:_13', 'unnamed:_14', 'unnamed:_15', 'unnamed:_16', 'unnamed:_17', 'unnamed:_18', 'unnamed:_19', 'unnamed:_20', 'unnamed:_21', 'unnamed:_22', 'unnamed:_23', 'unnamed:_24', 'unnamed:_25', 'unnamed:_26', 'unnamed:_27', 'unnamed:_28', 'unnamed:_29', 'unnamed:_30', 'unnamed:_31', 'unnamed:_32', 'unnamed:_33', 'unnamed:_34', 'unnamed:_35', 'unnamed:_36', 'unnamed:_37', 'unnamed:_38', 'unnamed:_39', 'unnamed:_40', 'unnamed:_41', 'unnamed:_42', 'unnamed:_43', 'unnamed:_44', 'unnamed:_45', 'unnamed:_46', 'unnamed:_47', 'unnamed:_48', 'unnamed:_49', 'unnamed:_50', 'unnamed:_51', 'unnamed:_52', 'unnamed:_53', 'unnamed:_54', 'unnamed:_55', 'unnamed:_56', 'unnamed:_57', 'unnamed:_58', 'unnamed:_59', 'unnamed:_60', 'unnamed:_61', 'unnamed:_62', 'unnamed:_63', 'unnamed:_64', 'unnamed:_65', 'unnamed:_66', 'unnamed:_67', 'unnamed:_68', 'unnamed:_69', 'unnamed:_70', 'unnamed:_71', 'unnamed:_72', 'unnamed:_73', 'unnamed:_74', 'unnamed:_75', 'unnamed:_76', 'unnamed:_77', 'unnamed:_78', 'unnamed:_79', 'unnamed:_80', 'unnamed:_81', 'unnamed:_82', 'unnamed:_83', 'unnamed:_84', 'unnamed:_85', 'unnamed:_86', 'unnamed:_87', 'unnamed:_88', 'unnamed:_89', 'unnamed:_90', 'unnamed:_91', 'unnamed:_92', 'unnamed:_93', 'unnamed:_94', 'unnamed:_95', 'unnamed:_96', 'unnamed:_97', 'unnamed:_98', 'unnamed:_99', 'unnamed:_100', 'unnamed:_101', 'unnamed:_102', 'unnamed:_103', 'unnamed:_104', 'unnamed:_105', 'unnamed:_106', 'unnamed:_107', 'unnamed:_108', 'unnamed:_109', 'unnamed:_110', 'unnamed:_111', 'unnamed:_112', 'unnamed:_113', 'unnamed:_114', 'unnamed:_115', 'unnamed:_116', 'unnamed:_117', 'unnamed:_118', 'unnamed:_119', 'unnamed:_120', 'unnamed:_121', 'unnamed:_122', 'unnamed:_123', 'unnamed:_124', 'unnamed:_125', 'unnamed:_126', 'unnamed:_127', 'unnamed:_128', 'unnamed:_129', 'unnamed:_130', 'unnamed:_131', 'unnamed:_132', 'unnamed:_133', 'unnamed:_134', 'unnamed:_135', 'unnamed:_136', 'unnamed:_137', 'unnamed:_138', 'unnamed:_139', 'unnamed:_140', 'unnamed:_141', 'unnamed:_142', 'unnamed:_143', 'unnamed:_144', 'unnamed:_145', 'unnamed:_146', 'unnamed:_147', 'unnamed:_148', 'unnamed:_149', 'unnamed:_150', 'unnamed:_151', 'unnamed:_152', 'unnamed:_153', 'unnamed:_154', 'unnamed:_155', 'unnamed:_156', 'unnamed:_157', 'unnamed:_158', 'unnamed:_159', 'unnamed:_160', 'unnamed:_161', 'unnamed:_162', 'unnamed:_163', 'unnamed:_164']

In [15]:
temp_df = pd.read_excel(files[0], header=None)
print(temp_df.head(15))

                                                  0    \
0                                            NEW YORK
1   Individual Income Tax Returns: \nSelected Inco...
2         [Money amounts are in thousands of dollars]
3                                       ZIP\ncode [1]
4                                                 NaN
5                                                 NaN
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                NaN
14                                              10001

                              1                      2    \
0                             NaN                    NaN
1                             NaN                    NaN
2                             NaN                    NaN
3   Size of adjusted gross income  Number of returns [2]
4                             NaN                    NaN
5                             NaN                     -1
6                           Total                9859080
7                $1 under $25,000                3140100
8           $25,000 under $50,000                2378060
9           $50,000 under $75,000                1421220
10         $75,000 under $100,000                 886130
11        $100,000 under $200,000                1394420
12               $200,000 or more                 639150
13                            NaN                    NaN
14                            NaN                  15590

                         3                        4    \
0                        NaN                      NaN
1                        NaN                      NaN
2                        NaN                      NaN
3   Number of single returns  Number of joint returns
4                        NaN                      NaN
5                         -2                       -3
6                    5311490                  2857720
7                    2329450                   345820
8                    1358920                   425350
9                     754830                   372470
10                    372570                   364400
11                    382080                   859080
12                    113640                   490600
13                       NaN                      NaN
14                     11460                     2490

                                    5    \
0                                   NaN
1                                   NaN
2                                   NaN
3   Number of head of household returns
4                                   NaN
5                                    -4
6                               1425040
7                                404460
8                                535030
9                                245760
10                               114260
11                               108910
12                                16620
13                                  NaN
14                                 1140

                                       6    \
0                                      NaN
1                                      NaN
2                                      NaN
3   Number of electronically filed returns
4                                      NaN
5                                       -5
6                                  9324140
7                                  2907050
8                                  2271010
9                                  1354880
10                                  842700
11                                 1333070
12                                  615430
13                                     NaN
14                                   14740

                                          7    \
0                                         NaN
1                                         NaN
2                                         NaN
3   Number of computer prepared paper returns
4                                         NaN
5                                          -6
6                                      172730
7                                       85380
8                                       40680
9                                       21580
10                                       9900
11                                      13820
12                                       1370
13                                        NaN
14                                        240

                                      8    \
0                                     NaN
1                                     NaN
2                                     NaN
3   Number with paid preparer's signature
4                                     NaN
5                                      -7
6                                 6318550
7                                 1951260
8                                 1445860
9                                  888880
10                                 582070
11                                 959450
12                                 491030
13                                    NaN
14                                   8900

                                      9    \
0                                     NaN
1                                     NaN
2                                     NaN
3   Number of returns with direct deposit
4                                     NaN
5                                      -8
6                                 6488130
7                                 2064570
8                                 1851650
9                                 1025960
10                                 585410
11                                 784410
12                                 176130
13                                    NaN
14                                   8640

                                                  10   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3   Number of returns with virtual \ncurrency indi...
4                                                 NaN
5                                                  -9
6                                              138760
7                                               34590
8                                               29260
9                                               22070
10                                              11830
11                                              25750
12                                              15260
13                                                NaN
14                                                680

                            11                                        12   \
0                           NaN                                       NaN
1                           NaN                                       NaN
2                           NaN                                       NaN
3   Number of \nindividuals [3]  Number of volunteer prepared returns [4]
4                           NaN                                     Total
5                           -10                                       -11
6                      17151570                                    105710
7                       4119270                                     64860
8                       4030750                                     32520
9                       2441570                                      7330
10                      1692280                                       940
11                      3164740                                        60
12                      1702960                                         0
13                          NaN                                       NaN
14                        20850                                       150

                                                  13   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4   Number of volunteer income tax assistance (VIT...
5                                                 -12
6                                               82480
7                                               50870
8                                               26510
9                                                4720
10                                                360
11                                                 20
12                                                  0
13                                                NaN
14                                                150

                                                  14   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4   Number of tax counseling for the elderly (TCE)...
5                                                 -13
6                                               23230
7                                               13990
8                                                6010
9                                                2610
10                                                580
11                                                 40
12                                                  0
13                                                NaN
14                                                  0

                                                  15   \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4   Number of volunteer prepared \nreturns with\ne...
5                                                 -14
6                                               16490
7                                               13780
8                                                2710
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                NaN
14                                                 50

                                                16   \
0                                               NaN
1                                               NaN
2                                               NaN
3   Number of refund anticipation check returns [5]
4                                               NaN
5                                               -15
6                                           1128230
7                                            403270
8                                            425430
9                                            169860
10                                            69940
11                                            57960
12                                             1770
13                                              NaN
14                                             1310

                              17                               18   \
0                             NaN                              NaN
1                             NaN                              NaN
2                             NaN                              NaN
3   Number of elderly returns [6]  Adjusted gross income (AGI) [7]
4                             NaN                              NaN
5                             -16                              -17
6                         2433060                        896488301
7                          699310                         38138675
8                          472230                         86524324
9                          369930                         87395080
10                         273550                         76794361
11                         438460                        191316196
12                         179580                        416319665
13                            NaN                              NaN
14                           2780                          2799134

                  19         20                         21         22   \
0                 NaN        NaN                        NaN        NaN
1                 NaN        NaN                        NaN        NaN
2                 NaN        NaN                        NaN        NaN
3        Total income        NaN  Salaries and wages in AGI        NaN
4   Number of returns     Amount          Number of returns     Amount
5                 -18        -19                        -20        -21
6             9859000  906554295                    7838620  565199580
7             3140020   38941182                    1973730   21625382
8             2378060   87518595                    2066790   64041023
9             1421220   88320059                    1240950   67595792
10             886130   77484325                     761690   57118529
11            1394420  193216491                    1225690  142338972
12             639150  421073643                     569770  212479882
13                NaN        NaN                        NaN        NaN
14              15590    2830868                      12670    1976619

                  23        24                  25        26   \
0                 NaN       NaN                 NaN       NaN
1                 NaN       NaN                 NaN       NaN
2                 NaN       NaN                 NaN       NaN
3    Taxable interest       NaN  Ordinary dividends       NaN
4   Number of returns    Amount   Number of returns    Amount
5                 -22       -23                 -24       -25
6             3393360  10433351             2084660  23129127
7              557120    323975              303890    543621
8              487180    358663              266570    674839
9              496560    428862              280360    883891
10             428980    437885              247670    966616
11             889430   1231071              553150   3147118
12             534090   7652895              433020  16913042
13                NaN       NaN                 NaN       NaN
14               6680     34819                6190     65212

                        27        28                                    29   \
0                       NaN       NaN                                   NaN
1                       NaN       NaN                                   NaN
2                       NaN       NaN                                   NaN
3   Qualified dividends [8]       NaN  State and local income tax refunds\n
4         Number of returns    Amount                     Number of returns
5                       -26       -27                                   -28
6                   1958190  17582015                                159600
7                    277750    355663                                  7930
8                    245900    458701                                 25210
9                    261210    623225                                 43590
10                   231700    705389                                 36690
11                   523770   2397729                                 40680
12                   417860  13041308                                  5500
13                      NaN       NaN                                   NaN
14                     5910     48108                                   240

       30                                              31        32   \
0      NaN                                             NaN       NaN
1      NaN                                             NaN       NaN
2      NaN                                             NaN       NaN
3      NaN  Business or profession\nnet income (less loss)       NaN
4   Amount                               Number of returns    Amount
5      -29                                             -30       -31
6   183953                                         1662770  24841821
7     6525                                          675100   3804211
8    23672                                          316380   2641195
9    39700                                          178970   1732443
10   34897                                          119940   1406604
11   53865                                          231840   4263499
12   25294                                          140540  10993869
13     NaN                                             NaN       NaN
14     383                                            2850     72804

                                    33        34   \
0                                   NaN       NaN
1                                   NaN       NaN
2                                   NaN       NaN
3   Net capital gain (less loss) in AGI       NaN
4                     Number of returns    Amount
5                                   -32       -33
6                               1892750  85031589
7                                280590    271088
8                                247280    565211
9                                248860    845995
10                               214030   1018391
11                               488010   4410312
12                               413980  77920592
13                                  NaN       NaN
14                                 5870    260006

                                                  35        36   \
0                                                 NaN       NaN
1                                                 NaN       NaN
2                                                 NaN       NaN
3   Taxable individual retirement arrangements dis...       NaN
4                                   Number of returns    Amount
5                                                 -34       -35
6                                              708870  13900208
7                                              135190    839492
8                                              120800   1250789
9                                              111710   1553743
10                                              93010   1657064
11                                             174250   4575839
12                                              73910   4023281
13                                                NaN       NaN
14                                                900     20224

                               37        38                        39   \
0                              NaN       NaN                       NaN
1                              NaN       NaN                       NaN
2                              NaN       NaN                       NaN
3   Taxable pensions and annuities       NaN  Number of \nfarm returns
4                Number of returns    Amount                       NaN
5                              -36       -37                       -38
6                          1767330  51536909                     18890
7                           358470   3283611                      5250
8                           322600   5471926                      5840
9                           295820   7301437                      4550
10                          238500   7839761                      1890
11                          415880  18789426                      1280
12                          136060   8850748                        80

In [16]:
df = pd.read_excel(file, header=[3,4])

In [17]:
# Drop rows with too many missing values
df = df.dropna(thresh=int(0.6 * len(df.columns)))

# Fill numeric missing values with 0
numeric_cols = df.select_dtypes(include=np.number).columns
df[numeric_cols] = df[numeric_cols].fillna(0)

# Ensure ZIP codes stay 5-digit
if "zipcode" in df.columns:
    df["zipcode"] = df["zipcode"].astype(str).str.zfill(5)

# Convert Year column to integer
df["year"] = pd.to_numeric(df["year"], errors="coerce")
df = df.dropna(subset=["year"])   # Remove rows where year couldn't be extracted
df["year"] = df["year"].astype(int)


print("\nCleaned Dataset Shape:", df.shape)

KeyError: 'year'

In [ ]:
4. #EXPLORATORY DATA ANALYSIS
# ============================================

print("\nSummary Statistics:")
print(df.describe())

print("\nData Info:")
print(df.info())

In [ ]:
# 5. VISUALIZATIONS
# ============================================

# Example: Total AGI trend over time
if "adjusted_gross_income" in df.columns:
    yearly_agi = df.groupby("year")["adjusted_gross_income"].sum()
    
    plt.figure(figsize=(8,5))
    yearly_agi.plot(marker="o")
    plt.title("Total Adjusted Gross Income by Year")
    plt.xlabel("Year")
    plt.ylabel("Total AGI")
    plt.show()

# Correlation heatmap
plt.figure(figsize=(10,8))
corr = df.select_dtypes(include=np.number).corr()
sns.heatmap(corr, cmap="coolwarm", center=0)
plt.title("Correlation Matrix")
plt.show()